:root {
  font-family: monospace;
  color-scheme: dark;
  color: #e0e0e0;
  background-color: #121212;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

#root {
  padding: 1rem;
}
